[Unit]
Description=Run Server Status Report daily

[Timer]
OnCalendar=*-*-* 00:00:00 America/New_York
Persistent=true

[Install]
WantedBy=timers.target
